{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Asignar bloque</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'asignarbloque.css' %}">

</head>

<body class="container mt-3">
  <header>
    <div class="alert alert-primary display-3 text-center" role="alert">
        Agregar un nuevo bloque
    </div>
  </header>
  <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="btn btn-danger" href="/" role="button">Cancelar</a>
            <button type="submit" class="btn btn-primary float-end">Crear bloque</button>
        </form>
  </main>
</body>
</html>