{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Visualizador horario docente</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="container mt-3">
    <div class="alert alert-primary" role="alert">
        <h1 class="display-3 text-center">Visualizador horario docente</h1>
    </div>
    <nav class="navbar navbar-expand bg-light justify-content-between">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="" aria-current="page">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="admin/" aria-current="page">Administración</a>
            </li>
        </ul>
        <li class="nav-item me-3">
            <a class="btn btn-dark float-end" href="asignarbloque/" role="button">Asignar bloque</a>
        </li>
    </nav>

    <div class="mb-3 mt-3">
        <form method="GET" action="{% url 'search' %}">
        <div class="input-group">
            <input class="form-control" name="busebump" type="search" placeholder="Buscar docente..." aria-label="search" value="">
            <button class="btn btn-success" type="submit">Buscar docente...</button>
      </form>
    </div>
  </div>
    
  <div class="container-fluid">
    {% for bl in docente %}
      <tbody>
        <div classs="container p-5">
            <div class="alert alert-success shadow rounded-3 p-4" id="bloques" role="alert" style="border-left:#155724 5px solid; border-radius: 0px">
                <div class="row">
                      <p style="font-size:18px" class="mb-0 font-weight-light">
                      <b class="display-6">Dia: {{ bl.nombre_dia }}</b>
                      <div class="display-6 fst-italic text-center">{{bl.asignaturas}}</div>
                      <div class="fw-bold text-center">{{bl.nombre}}</div></p>
                      <div class="float-start">Sala: {{bl.sala}}</div>
                      <div class="float-end">Hora: {{bl.duracion_inicios}} - {{bl.duracion_terminos}}</div>
                </div>
            </div>
      </tbody>  
      {% endfor %}
  </div>
</div>
</html>
</body>
</div>
</html>
